html,body { height:100%; margin:0; }
body {

    display:flex;
    align-items:flex-start;
    justify-content:center;
    background: #fff7d5;;
    font-family:sans-serif;
    font-size:16px;
}

.strip {
    width: clamp(100%, calc(100% - 10vw), 700px);
    max-width: 1400px;
    box-sizing: border-box;
    padding: 24px;
    background: #fff;
    margin: 24px 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

header {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    text-align: right;
}