html,body { height:100%; margin:0; }
body {

    display:flex;
    align-items:flex-start;
    justify-content:center;
    background: #fff7d5;;
    font-family:"Times New Romanm", sans-serif;
    font-size:16px;
    padding-bottom: 60px;
}


.strip {
    width: clamp(100%, calc(100% - 10vw), 700px);
    max-width: 1200px;
    /*height: 100%;*/
    box-sizing: border-box;
    padding: 24px;

    background: #fff;
    margin: 25px 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

/* TODO: improve button appearance, not sure of cigarette appearance */
.button-group button {
    /*background-color: #f1a238; !* Green background *!*/
    background-image: url("assets/filter-2.png");
    background-size: cover;
    border: 2px groove #e09123; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.button-group button:disabled {
    /*background-color: #d59034;*/
    background-image: url("assets/cig-white.png");
    color: black;
}

/* Clear floats (clearfix hack) */
.button-group:after {
    content: "";
    clear: both;
    display: table;
}

.button-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.pie-chart {
    /*max-width: 100%*/
    max-height: 90%;
    width: 100%;
}

/* Add a background color on hover */
.button-group button:hover {
    background-color: #d59034;
    border: 2px outset darkgoldenrod;
}

.pie-chart-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    width: 30%;
}
.death-pie-chart {
    flex-shrink: 1;
    width: 50%;
/*    !*flex: 1;*!*/
/*    float: left;*/
}

nav {
    display:flex;
    background: #ca7a0e;
    width:100%;
    height:50px;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    font-size: 20px
}
nav a:link {
    text-decoration: underline;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px;
}
nav a:visited {
    color: white;
}

header {
    text-align: center;
}
img {
    width: 99%;
    height: auto;
}

.chart {
    max-height: 90%;
}

.dynamic-descriptions-container {
    display: grid;
}

.dynamic-description-container div {
    grid-column: 1;
    grid-row: 1;
    /*visibility: collapse;*/
    display: none;
}
.multi-graph {
    border: 2px solid orange;
}
figcaption {
    text-align: right;
}

